A:C_flows.json
[{"id":"3a302106.4788d6","type":"tab","label":"A/C control","disabled":false,"info":""},{"id":"9ab91b5d.97fe7","type":"blynk-ws-in-write","z":"3a302106.4788d6","name":"","pin":"1","pin_all":0,"client":"6bc9d38a.1088f4","x":330,"y":320,"wires":[["6e955346.1c07e4"]]},{"id":"6e7c3eb7.ee6218","type":"ui_button","z":"3a302106.4788d6","name":"ON","group":"cce88e39.1de768","order":4,"width":0,"height":0,"passthru":true,"label":"ON","tooltip":"Turn On the A/C in cooling mode","color":"white","bgcolor":"blue","icon":"ac_unit","payload":"on","payloadType":"str","topic":"","x":650,"y":320,"wires":[["e407ba94.7ac9f8"]]},{"id":"828480cc.687598","type":"ui_button","z":"3a302106.4788d6","name":"OFF","group":"cce88e39.1de768","order":5,"width":0,"height":0,"passthru":true,"label":"OFF","tooltip":"Turn OFF the A/C","color":"black","bgcolor":"lightgray","icon":"power_settings_new","payload":"off","payloadType":"str","topic":"","x":650,"y":380,"wires":[["213d3eab.c165b2"]]},{"id":"b8d849c6.3c2f2","type":"ui_gauge","z":"3a302106.4788d6","name":"Temp","group":"cce88e39.1de768","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Temp","label":"°C","format":"{{value}} ","min":"0","max":"35","colors":["#0080ff","#e9e9e9","#ca3838"],"seg1":"27","seg2":"30","x":630,"y":660,"wires":[]},{"id":"fb99e07c.a68988","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/heat","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Heat command","x":820,"y":460,"wires":[[],[],["4b5abdb0.5b87d4"]]},{"id":"213d3eab.c165b2","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/OFF","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"OFF command","x":820,"y":400,"wires":[[],[],["bd6eddaf.5d0a18"]]},{"id":"e407ba94.7ac9f8","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/cool","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Cool command","x":820,"y":340,"wires":[[],[],["4b5abdb0.5b87d4"]]},{"id":"e9790a8c.778248","type":"blynk-ws-in-write","z":"3a302106.4788d6","name":"","pin":"2","pin_all":0,"client":"6bc9d38a.1088f4","x":330,"y":380,"wires":[["7abd604d.6eb408"]]},{"id":"2b222379.09da04","type":"ui_slider","z":"3a302106.4788d6","name":"temp slider","label":"","tooltip":"Set the desired temp","group":"cce88e39.1de768","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"23","max":"28","step":1,"x":350,"y":180,"wires":[["bd927eab.8bc73","752c080c.49a858","cbc7410b.4d4fa"]]},{"id":"e76b12f3.ffd0e8","type":"ui_numeric","z":"3a302106.4788d6","name":"","label":"Desired Temp","tooltip":"set the value for the desired temp (23-28°C)","group":"cce88e39.1de768","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}} °C","min":"23","max":"28","step":1,"x":360,"y":100,"wires":[["80b6a115.bec8c8"]]},{"id":"31c6ad26.1c8d1a","type":"ui_button","z":"3a302106.4788d6","name":"TURBO","group":"cce88e39.1de768","order":6,"width":0,"height":0,"passthru":true,"label":"TURBO","tooltip":"Turn ON Turbo mode","color":"white","bgcolor":"green","icon":"toys","payload":"turbo","payloadType":"str","topic":"","x":660,"y":500,"wires":[["4ea6e7d.37e1e18"]]},{"id":"4ea6e7d.37e1e18","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/turbo","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Turbo command","x":820,"y":520,"wires":[[],[],["4b5abdb0.5b87d4"]]},{"id":"61280925.0c5798","type":"blynk-ws-in-write","z":"3a302106.4788d6","name":"","pin":"4","pin_all":0,"client":"6bc9d38a.1088f4","x":330,"y":500,"wires":[["acd22eb9.f4ec9"]]},{"id":"1e42849e.6827e3","type":"switch","z":"3a302106.4788d6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"num"},{"t":"eq","v":"25","vt":"num"},{"t":"eq","v":"26","vt":"num"},{"t":"eq","v":"27","vt":"num"},{"t":"eq","v":"28","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":590,"y":220,"wires":[["e407ba94.7ac9f8"],["8ae7bf39.5a04c8"],["2ced0197.652bce"],["7d6940b0.7f82a"],["707fe466.7b7f24"],["fb99e07c.a68988"]]},{"id":"8ae7bf39.5a04c8","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/24deg","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"24deg command","x":810,"y":100,"wires":[[],[],["4b5abdb0.5b87d4"]]},{"id":"2ced0197.652bce","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/25deg","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"25deg command","x":810,"y":160,"wires":[[],[],["4b5abdb0.5b87d4"]]},{"id":"7d6940b0.7f82a","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/26deg","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"26deg command","x":810,"y":220,"wires":[[],[],["4b5abdb0.5b87d4"]]},{"id":"707fe466.7b7f24","type":"exec","z":"3a302106.4788d6","command":"sudo /home/pi/commands/27deg","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"27deg command","x":810,"y":280,"wires":[[],[],["4b5abdb0.5b87d4"]]},{"id":"8ac815df.a2d75","type":"blynk-ws-in-write","z":"3a302106.4788d6","name":"","pin":"0","pin_all":0,"client":"6bc9d38a.1088f4","x":370,"y":20,"wires":[["bd927eab.8bc73"]]},{"id":"cab076ad.56edb8","type":"blynk-ws-out-write","z":"3a302106.4788d6","name":"","pin":"5","pinmode":0,"client":"6bc9d38a.1088f4","x":660,"y":600,"wires":[]},{"id":"6e955346.1c07e4","type":"switch","z":"3a302106.4788d6","name":"release but","property":"arrayOfValues[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":320,"wires":[["6e7c3eb7.ee6218"]]},{"id":"7abd604d.6eb408","type":"switch","z":"3a302106.4788d6","name":"release but","property":"arrayOfValues[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":380,"wires":[["828480cc.687598"]]},{"id":"acd22eb9.f4ec9","type":"switch","z":"3a302106.4788d6","name":"release but","property":"arrayOfValues[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":500,"wires":[["31c6ad26.1c8d1a"]]},{"id":"80b6a115.bec8c8","type":"function","z":"3a302106.4788d6","name":"save temp ","func":"flow.set('desiredTemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["2b222379.09da04"]]},{"id":"bd927eab.8bc73","type":"function","z":"3a302106.4788d6","name":"check temp","func":"temp=flow.get('desiredTemp')||23;\nif (msg.payload!=temp){\n    return msg;\n}","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["e76b12f3.ffd0e8"]]},{"id":"752c080c.49a858","type":"blynk-ws-out-write","z":"3a302106.4788d6","name":"","pin":"0","pinmode":0,"client":"6bc9d38a.1088f4","x":580,"y":120,"wires":[]},{"id":"33bda119.6c019e","type":"inject","z":"3a302106.4788d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":600,"wires":[["70ceb6e7.6d1c88"]]},{"id":"b61236e.4412c48","type":"ui_text","z":"3a302106.4788d6","group":"cce88e39.1de768","order":6,"width":0,"height":0,"name":"","label":"LED","format":"{{msg.payload.name}}","layout":"row-center","x":1650,"y":160,"wires":[]},{"id":"eecbc4d8.b8b62","type":"function","z":"3a302106.4788d6","name":"check particle data","func":"if (msg.payload.data < 13)\n{\n    msg.payload.name = \"OFF\";\n    return msg\n}\nelse{\n    msg.payload.name = \"ON\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1450,"y":160,"wires":[["9bb9b69e.3d541","b61236e.4412c48"]]},{"id":"f3a50886.95ab78","type":"particle-SSE","z":"3a302106.4788d6","pcloud":"","subscribetype":"mine","devprodslug":"e00fce683e5c73dc8ffe1cb9","devid":"","evtname":"LED","strict":false,"x":1220,"y":160,"wires":[["eecbc4d8.b8b62"]]},{"id":"70ceb6e7.6d1c88","type":"rpi-dht22","z":"3a302106.4788d6","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"17","x":460,"y":600,"wires":[["cab076ad.56edb8","b8d849c6.3c2f2"]]},{"id":"4b5abdb0.5b87d4","type":"delay","z":"3a302106.4788d6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":220,"wires":[["2cdad1f0.1ee686","f3a50886.95ab78"]]},{"id":"9bb9b69e.3d541","type":"change","z":"3a302106.4788d6","name":"set ACstatus","rules":[{"t":"set","p":"ACstatus","pt":"flow","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":80,"wires":[[]]},{"id":"2cdad1f0.1ee686","type":"delay","z":"3a302106.4788d6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":220,"wires":[["e0efc3d4.f73db"]]},{"id":"e0efc3d4.f73db","type":"switch","z":"3a302106.4788d6","name":"IF AC IS OFF","property":"ACstatus","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":220,"wires":[["60e7df8.7f5812"],[]]},{"id":"cbc7410b.4d4fa","type":"function","z":"3a302106.4788d6","name":"save temp cmd","func":"flow.set('tempCommand',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["1e42849e.6827e3"]]},{"id":"60e7df8.7f5812","type":"function","z":"3a302106.4788d6","name":"get last temp command","func":"tempValue=flow.get('tempCommand');\n\nmsg.payload=tempValue;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":20,"wires":[["c7d91f73.d5c22","1e42849e.6827e3"]]},{"id":"c8411f68.8dc6d8","type":"ui_toast","z":"3a302106.4788d6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Command resend","name":"","x":1260,"y":20,"wires":[]},{"id":"c7d91f73.d5c22","type":"change","z":"3a302106.4788d6","name":"Message resent text","rules":[{"t":"set","p":"payload","pt":"msg","to":"The command has been sent again because the AC is still OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":20,"wires":[["c8411f68.8dc6d8"]]},{"id":"bd6eddaf.5d0a18","type":"delay","z":"3a302106.4788d6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":380,"wires":[["3fbdc1c4.59d1c6","f3a50886.95ab78"]]},{"id":"3fbdc1c4.59d1c6","type":"delay","z":"3a302106.4788d6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":380,"wires":[["dbdf604a.bac018"]]},{"id":"dbdf604a.bac018","type":"switch","z":"3a302106.4788d6","name":"IF AC IS ON","property":"ACstatus","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":380,"wires":[["828480cc.687598","ebcb2605.9bb47"],[]]},{"id":"ebcb2605.9bb47","type":"change","z":"3a302106.4788d6","name":"Message resent text","rules":[{"t":"set","p":"payload","pt":"msg","to":"The command has been sent again because the AC is still ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":460,"wires":[["7c19e05e.8b2a78"]]},{"id":"7c19e05e.8b2a78","type":"ui_toast","z":"3a302106.4788d6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Command resend","name":"","x":1470,"y":460,"wires":[]},{"id":"6bc9d38a.1088f4","type":"blynk-ws-client","z":"","name":"Blynk","path":"wss://blynk-cloud.com/websockets","key":"5Li70IM1eTuRIV7tJBQVvA8OaYVbDTNs","dbg_all":true,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":true,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"cce88e39.1de768","type":"ui_group","z":"","name":"AC","tab":"820a775c.b3bda8","order":1,"disp":false,"width":"6","collapse":false},{"id":"820a775c.b3bda8","type":"ui_tab","z":"","name":"AC Control","icon":"dashboard","order":4,"disabled":false,"hidden":false}]